[project]
name = "aoc-25"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "rich>=14.2.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
